@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif ;
}
.navbar .logo{
    width: 60px;
    height: 60px;
    grid-column: 2 / 3;
}
.navbar{
    background-color: #edcb54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}
.navbar .menu{
    grid-column: 4 / 7;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.navbar .menu a{
    color: #181818;
    cursor: pointer;
    text-decoration: none;
}
.navbar .menu li:hover{
    color: #fff;
    cursor: pointer;
}
.navbar .menu-bar{
    display: none;
}
.navbar .shoping{
    grid-column: 8/9;
}
.navbar .menu li{
    text-decoration: none;
}


/*Section Main*/

.hero{
    height: 80vh;
    background-image: linear-gradient(rgba(16,16,16, .8), rgba(16,16,16, .8)), url(../img/Chri-Stern45.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    
}
.hero .info-content{
    grid-column: 7/10;
    grid-row: 3/7;
    color: #fff;
}
.hero h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    
}

.hero h1{
    font-size: 5em;
    color: #edcb54;
    text-decoration: none;

}
.hero p{
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.hero .btn{
    font-size: 1em;
    background: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #edcb54;
    border-radius: 30px;
    margin-top: 10px;
}

.hero .btn:hover{
    background-color:#edcb54 ;
    color: #181818;
}

/* footer */

.footer{
    display: grid;
    height: 80px;
    align-items: center;
    background-color: #181818;
    color: #fff;
    grid-template-areas: "listen-online follow-me social-network";
}

.footer .listen-online{
    grid-template-areas:  listen-online;
    display: flex;
    justify-content: center;
    background-color:#edcb54 ;
    padding: 26px;
    color: #181818;

}

.footer .listen-online .fas{
    font-size: 1.5em;
    margin-right: 15px;
}

.footer .follow-me{
    grid-template-areas: follow-me;
    text-align: center;
}

.footer .social-network{
    grid-template-areas: social-network ;
    font-size: 1.3em;

    
}

.footer .social-network .fab{
    margin-right: 15px;
    color: #edcb54;
}

.footer .social-network .fab:hover{
    color: #fff;
}